{% extends 'MainApp/base.html' %}

{% block content %}



<p><strong>Pizza:</strong>  {{ pizza }} </p>

<h4> Toppings:</h4>
<ul>
    {% for topping in toppings %} 

    <li>
        <p>{{ topping.text }} </p>
    </li>
    {% empty%} 
    <li> There are no toppings on this pizza.</li>
    {% endfor %}
</ul>

{% if pizza.pizza_photo %}
<img src="{{ pizza.pizza_photo.url }}" class="img-thumbnail" style="max-height: height 100px" alt="">
{% endif %} 


<h4>Customer Comments:</h4>
<ul>
    {% for comment in comments %} 
    <li>
        <p>{{ comment.text }} </p>
    </li>
    {% empty %} 
    <li> There are no comments for this pizza. </li>
    {% endfor %}
</ul>

<p> 
    <a href="{% url 'MainApp:new_comment' pizza.id %}">Add a new comment</a>
</p>


{% endblock content %} 

